.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}


.header_logo {
    width: 140px;
    object-fit: contain;
    margin: 0 -2px;
    margin-top: 8px;
}


.header_location {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
    border: 1px solid #131921 ;
    padding: 10px;
}
.header_location p {
    font-size: 13px;
}
.header_location:hover {
    border-color: white;
    border-radius: 3px;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput {
    height: 15px;
    padding: 10px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    width: 100%;
}

.header_searchIcon {
    padding: 5px;
    padding-left: 8px;
    height: 25px !important;
    border-radius: 0px 2px 2px 0px;
    background-color: #dca155;
}

.header_optionLineOne {
    font-size: 11px;
    color: rgb(208, 208, 208);
}

.header_optionLineTwo {
    font-size: 13px;
    font-weight: 600;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 6px;
    color: white;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

